# Compiled binaries
/fiemap
/*.o

# Output of manually running the Clang analyzer.
/*.plist

# Precompiled headers
/.vscode/ipch/

# Editor tempfiles
.*.swp

# A symlink to a big file elsewhere
/test-symlink

# Dumps from files and devices
/dump*
